<template>
  <div class="container flex min-h-screen min-w-full bg-no-repeat bg-cover justify-center font-Roboto">
    <div class="flex flex-col py-4 max-h-[500px] w-[400px] mt-20 bg-[#222] rounded-xl text-white light
                shadow-[0_0_50px_15px_rgba(208,143,0,1)] shadow-alt-primary items-center justify-around ">

      <img class="max-w-[100px]" src="../assets/logo.svg">
      
      <p class="text-3xl font-extrabold">Lorem ipsum</p>

      <div class="flex flex-col mt-2 border-b-2">
        <label class="ml-2.5 font-bold" for="email">Email</label>
        <input class="bg-[#3a3a3a] text-xl text-white border-solid border-white rounded-t-[0.3rem]
                      pl-2 mt-1 focus:outline-none hover:bg-[#444]"
               type="email" name="email" id="email" placeholder="Email" v-model="email">
      </div>

      <div class="flex flex-col mt-2 border-b-2">
        <label class="ml-2.5 font-bold" for="pass">Password</label>
        <input class="bg-[#3a3a3a] text-xl text-white border-solid border-white rounded-t-[0.3rem]
                      pl-2 mt-1 focus:outline-none hover:bg-[#444]"
               type="password" name="pass" id="pass" placeholder="Password" v-model="password">
      </div>

      <div class="flex flex-col mt-2 border-b-2">
        <label class="ml-2.5 font-bold" for="confirm_pass">Confirm password</label>
        <input class="bg-[#3a3a3a] text-xl text-white border-solid border-white rounded-t-[0.3rem]
                      pl-2 mt-1 focus:outline-none hover:bg-[#444]"
               type="password" name="confirm_pass" id="confirm_pass" placeholder="Confirm password" v-model="confirm_password">
      </div>

      <button class="mt-5 text-xl font-bold text-white bg-alt-secondary rounded-[0.3em] px-3 py-1"
              type="submit" @click="register">Register</button>
    </div>
  </div>
</template>

<script setup>
import {ref} from "vue";
import axios from "axios";
import { useRouter } from "vue-router";

const email = ref("");
const password = ref("");
const confirm_password = ref("");
const router = useRouter();
const register = async () => {
  if(password.value === confirm_password.value) {
    axios.post('localhost:8080/register', {
      email: email.value,
      password: password.value,
      confirm_password: confirm_password.value
    })
        .then((response) => {
          router.push({
            name: "login"
          })
        })
        .catch((error) => {
          console.log(error)
        })
  }
};
</script>

<style lang="css" scoped>
.container {
  background-image: url("../assets/waves_with_bg.svg");
}
</style>